In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
books = pd.read_csv('Books.csv')
ratings = pd.read_csv('Ratings.csv')
users = pd.read_csv('Users.csv')

/tmp/ipykernel_30000/378180666.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [5]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [6]:
print(books.shape, ratings.shape, users.shape)

(271360, 8) (1149780, 3) (278858, 3)

In [7]:
books.describe()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
count,271360,271360,271359,271360,271358,271360,271360,271357
unique,271360,242135,102023,202,16807,271044,271044,271041
top,0195153448,Selected Poems,Agatha Christie,2002,Harlequin,http://images.amazon.com/images/P/185326119X.0...,http://images.amazon.com/images/P/185326119X.0...,http://images.amazon.com/images/P/225307649X.0...
freq,1,27,632,13903,7535,2,2,2

In [8]:
ratings.describe()

            User-ID   Book-Rating
count  1.149780e+06  1.149780e+06
mean   1.403864e+05  2.866950e+00
std    8.056228e+04  3.854184e+00
min    2.000000e+00  0.000000e+00
25%    7.034500e+04  0.000000e+00
50%    1.410100e+05  0.000000e+00
75%    2.110280e+05  7.000000e+00
max    2.788540e+05  1.000000e+01

In [9]:
users.describe()

            User-ID            Age
count  278858.00000  168096.000000
mean   139429.50000      34.751434
std     80499.51502      14.428097
min         1.00000       0.000000
25%     69715.25000      24.000000
50%    139429.50000      32.000000
75%    209143.75000      44.000000
max    278858.00000     244.000000

In [10]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [11]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [12]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [13]:
books.iloc[0]

ISBN                                                          0195153448
Book-Title                                           Classical Mythology
Book-Author                                           Mark P. O. Morford
Year-Of-Publication                                                 2002
Publisher                                        Oxford University Press
Image-URL-S            http://images.amazon.com/images/P/0195153448.0...
Image-URL-M            http://images.amazon.com/images/P/0195153448.0...
Image-URL-L            http://images.amazon.com/images/P/0195153448.0...
Name: 0, dtype: object

In [14]:
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

# top50 books

In [15]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [16]:
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [17]:
ratings_with_names = ratings.merge(books, on='ISBN')
num_ratings_df = ratings_with_names.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_ratings_df = num_ratings_df.rename(columns={'Book-Rating': 'num_ratings'})
num_ratings_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [18]:
avg_ratings_df = ratings_with_names.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_ratings_df = avg_ratings_df.rename(columns={'Book-Rating': 'avg_ratings'})
avg_ratings_df

                                               Book-Title  avg_ratings
0        A Light in the Storm: The Civil War Diary of ...     2.250000
1                                   Always Have Popsicles     0.000000
2                    Apple Magic (The Collector's series)     0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...     8.000000
4        Beyond IBM: Leadership Marketing and Finance ...     0.000000
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.     0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.     5.250000
241068                                Ã?Â?sterlich leben.     7.000000
241069                              Ã?Â?stlich der Berge.     2.666667
241070                                  Ã?Â?thique en toc     4.000000

[241071 rows x 2 columns]

In [19]:
popular_df = num_ratings_df.merge(avg_ratings_df, on='Book-Title')
popular_df

,Book-Title,num_ratings,avg_ratings
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [20]:
popular_df = popular_df[popular_df['num_ratings'] >= 250].sort_values('avg_ratings', ascending=False).head(50)

In [21]:
popular_df = popular_df.merge(books, on='Book-Title').drop_duplicates('Book-Title')[['Book-Title', 'Book-Author', 'Image-URL-M', 'num_ratings', 'avg_ratings']]

In [22]:
popular_df

,Book-Title,Book-Author,Image-URL-M,num_ratings,avg_ratings
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...,278,5.737410
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,556,5.183453
16,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339681.0...,281,5.007117
17,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339703.0...,368,4.948370
26,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,http://images.amazon.com/images/P/059035342X.0...,575,4.895652
28,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339711.0...,260,4.880769
39,To Kill a Mockingbird,Harper Lee,http://images.amazon.com/images/P/0446310786.0...,510,4.700000
47,The Da Vinci Code,Dan Brown,http://images.amazon.com/images/P/0385504209.0...,898,4.642539
53,The Five People You Meet in Heaven,Mitch Albom,http://images.amazon.com/images/P/0786868716.0...,430,4.551163
55,The Catcher in the Rye,J.D. Salinger,http://images.amazon.com/images/P/0316769487.0...,449,4.545657
62,The Lovely Bones: A Novel,Alice Sebold,http://images.amazon.com/images/P/0316666343.0...,1295,4.468726
63,1984,George Orwell,http://images.amazon.com/images/P/0451524934.0...,284,4.454225
72,Prodigal Summer: A Novel,Barbara Kingsolver,http://images.amazon.com/images/P/0060959037.0...,253,4.450593
73,Neverwhere,Neil Gaiman,http://images.amazon.com/images/P/0380789019.0...,265,4.449057
78,The Secret Life of Bees,Sue Monk Kidd,http://images.amazon.com/images/P/0142001740.0...,774,4.447028
84,Stupid White Men ...and Other Sorry Excuses fo...,Michael Moore,http://images.amazon.com/images/P/0060392452.0...,283,4.356890
85,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,http://images.amazon.com/images/P/0385484518.0...,493,4.354970
88,The Red Tent (Bestselling Backlist),Anita Diamant,http://images.amazon.com/images/P/0312195516.0...,723,4.334716
89,The Hitchhiker's Guide to the Galaxy,Douglas Adams,http://images.amazon.com/images/P/0671461494.0...,268,4.328358
98,Nickel and Dimed: On (Not) Getting By in America,Barbara Ehrenreich,http://images.amazon.com/images/P/0805063897.0...,335,4.289552
100,Into the Wild,Jon Krakauer,http://images.amazon.com/images/P/0385486804.0...,252,4.273810
103,Fahrenheit 451,Ray Bradbury,http://images.amazon.com/images/P/3257208626.0...,409,4.264059
116,Girl with a Pearl Earring,Tracy Chevalier,http://images.amazon.com/images/P/0452282152.0...,526,4.218631
117,Outlander,DIANA GABALDON,http://images.amazon.com/images/P/0440222915.0...,283,4.173145
123,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,http://images.amazon.com/images/P/0446672211.0...,585,4.105983
124,Seabiscuit: An American Legend,LAURA HILLENBRAND,http://images.amazon.com/images/P/0449005615.0...,275,4.098182
126,Life of Pi,Yann Martel,http://images.amazon.com/images/P/0151008116.0...,664,4.088855
130,The Bean Trees,Barbara Kingsolver,http://images.amazon.com/images/P/0060915544.0...,389,4.087404
133,"A Child Called \It\"": One Child's Courage to S...",Dave Pelzer,http://images.amazon.com/images/P/1558743669.0...,265,4.086792
135,ANGELA'S ASHES,Frank McCourt,http://images.amazon.com/images/P/0684874350.0...,279,4.075269
137,Good in Bed,Jennifer Weiner,http://images.amazon.com/images/P/0743418174.0...,490,4.055102
139,Fast Food Nation: The Dark Side of the All-Ame...,Eric Schlosser,http://images.amazon.com/images/P/0060938455.0...,321,4.037383
140,American Gods,Neil Gaiman,http://images.amazon.com/images/P/0380789035.0...,302,4.006623
141,Skipping Christmas,JOHN GRISHAM,http://images.amazon.com/images/P/0385505833.0...,322,4.006211
147,Left Behind: A Novel of the Earth's Last Days ...,Tim Lahaye,http://images.amazon.com/images/P/0842329129.0...,318,4.003145
149,"The Golden Compass (His Dark Materials, Book 1)",PHILIP PULLMAN,http://images.amazon.com/images/P/037582345X.0...,336,4.000000
157,The Color Purple,Alice Walker,http://images.amazon.com/images/P/0671617028.0...,314,3.964968
163,Silence of the Lambs,Thomas Harris,http://images.amazon.com/images/P/0312924585.0...,256,3.960938
166,About a Boy,Nick Hornby,http://images.amazon.com/images/P/1573227331.0...,262,3.900763
173,Seven Up (A Stephanie Plum Novel),Janet Evanovich,http://images.amazon.com/images/P/0312265840.0...,278,3.888489
175,The Alchemist: A Fable About Following Your Dream,Paulo Coelho,http://images.amazon.com/images/P/0062502174.0...,266,3.875940
177,Hard Eight : A Stephanie Plum Novel (A Stephan...,Janet Evanovich,http://images.amazon.com/images/P/0312983867.0...,269,3.825279
182,Suzanne's Diary for Nicholas,James Patterson,http://images.amazon.com/images/P/0316969443.0...,457,3.820569
186,Lord of the Flies,William Gerald Golding,http://images.amazon.com/images/P/0399501487.0...,259,3.818533
192,A Prayer for Owen Meany,John Irving,http://images.amazon.com/images/P/0345361792.0...,413,3.796610
194,"The Vampire Lestat (Vampire Chronicles, Book II)",ANNE RICE,http://images.amazon.com/images/P/0345313860.0...,301,3.777409
195,White Oleander : A Novel (Oprah's Book Club),Janet Fitch,http://images.amazon.com/images/P/0316284955.0...,356,3.772472

In [23]:
import pickle
with open('top50books.pkl', 'wb') as f:
    pickle.dump(popular_df, f)

In [24]:
popular_df['Book-Title'].to_list()

['Harry Potter and the Prisoner of Azkaban (Book 3)',
 'Harry Potter and the Goblet of Fire (Book 4)',
 "Harry Potter and the Sorcerer's Stone (Book 1)",
 'Harry Potter and the Order of the Phoenix (Book 5)',
 'Harry Potter and the Chamber of Secrets (Book 2)',
 'The Hobbit : The Enchanting Prelude to The Lord of the Rings',
 'The Fellowship of the Ring (The Lord of the Rings, Part 1)',
 "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
 'The Two Towers (The Lord of the Rings, Part 2)',
 'To Kill a Mockingbird',
 'The Da Vinci Code',
 'The Five People You Meet in Heaven',
 'The Catcher in the Rye',
 'The Lovely Bones: A Novel',
 '1984',
 'Prodigal Summer: A Novel',
 'Neverwhere',
 'The Secret Life of Bees',
 'Stupid White Men ...and Other Sorry Excuses for the State of the Nation!',
 "Tuesdays with Morrie: An Old Man, a Young Man, and Life's Greatest Lesson",
 'The Red Tent (Bestselling Backlist)',
 "The Hitchhiker's Guide to the Galaxy",
 'Nickel and Dimed: On (Not) Getting By in America',
 'Into the Wild',
 'Fahrenheit 451',
 'Girl with a Pearl Earring',
 'Outlander',
 "Where the Heart Is (Oprah's Book Club (Paperback))",
 'Seabiscuit: An American Legend',
 'Life of Pi',
 'The Bean Trees',
 'A Child Called \\It\\": One Child\'s Courage to Survive"',
 "ANGELA'S ASHES",
 'Good in Bed',
 'Fast Food Nation: The Dark Side of the All-American Meal',
 'American Gods',
 'Skipping Christmas',
 "Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)",
 'The Golden Compass (His Dark Materials, Book 1)',
 'The Color Purple',
 'Silence of the Lambs',
 'About a Boy',
 'Seven Up (A Stephanie Plum Novel)',
 'The Alchemist: A Fable About Following Your Dream',
 'Hard Eight : A Stephanie Plum Novel (A Stephanie Plum Novel)',
 "Suzanne's Diary for Nicholas",
 'Lord of the Flies',
 'A Prayer for Owen Meany',
 'The Vampire Lestat (Vampire Chronicles, Book II)',
 "White Oleander : A Novel (Oprah's Book Club)"]

# collaborative filtering

In [25]:
ratings_with_names.head(2)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [26]:
x = ratings_with_names.groupby('User-ID').count()['Book-Rating'].reset_index()

In [27]:
users_reviews_gt_200 = x[x['Book-Rating'] > 200]['User-ID'].to_list()

In [28]:
users_reviews_gt_200

[254,
 2276,
 2766,
 2977,
 3363,
 4017,
 4385,
 6251,
 6323,
 6543,
 6563,
 6575,
 7158,
 7286,
 7346,
 7915,
 8067,
 8245,
 8681,
 8890,
 8936,
 10447,
 10819,
 11601,
 11676,
 11993,
 12538,
 12824,
 12982,
 13082,
 13273,
 13552,
 13850,
 14422,
 14521,
 15408,
 15418,
 16106,
 16634,
 16795,
 16916,
 16966,
 17950,
 18067,
 18401,
 19085,
 19664,
 20115,
 20201,
 21014,
 21252,
 21576,
 21659,
 22625,
 23288,
 23768,
 23872,
 23902,
 24194,
 24921,
 25409,
 25601,
 25981,
 26516,
 26535,
 26544,
 26583,
 26593,
 27617,
 28204,
 28360,
 28523,
 28591,
 29259,
 29855,
 30276,
 30487,
 30511,
 30533,
 30711,
 30735,
 30972,
 31315,
 31391,
 31556,
 31826,
 31846,
 32195,
 32440,
 32721,
 32773,
 33974,
 35050,
 35836,
 35857,
 35859,
 36606,
 36609,
 36836,
 36907,
 37567,
 37712,
 37950,
 38023,
 38273,
 38781,
 39281,
 39467,
 39616,
 39646,
 39773,
 40889,
 40943,
 41084,
 41841,
 42914,
 43246,
 43806,
 43842,
 44595,
 44728,
 46398,
 47316,
 48494,
 49109,
 49460,
 49889,
 50225,
 51094,
 51350,
 51386,
 51450,
 51883,
 52199,
 52584,
 52614,
 52853,
 52917,
 53174,
 53628,
 53729,
 54218,
 55187,
 55490,
 55492,
 55548,
 55734,
 55892,
 56271,
 56399,
 56447,
 56856,
 56959,
 59172,
 59971,
 60244,
 60277,
 60337,
 60707,
 61619,
 62272,
 62891,
 62895,
 63394,
 63714,
 63938,
 64436,
 65258,
 66680,
 67840,
 68555,
 69042,
 69078,
 69232,
 69355,
 69405,
 69697,
 69808,
 69971,
 70052,
 70415,
 70594,
 71712,
 72352,
 72992,
 73394,
 73651,
 75591,
 75860,
 76151,
 76223,
 76352,
 76499,
 76626,
 76818,
 76942,
 77809,
 77940,
 78553,
 78783,
 78834,
 78973,
 79186,
 79441,
 80538,
 80683,
 81045,
 81492,
 81560,
 81977,
 82407,
 82831,
 82893,
 82926,
 83637,
 84024,
 85426,
 85526,
 85656,
 85701,
 85757,
 85993,
 86202,
 86243,
 86641,
 87141,
 87143,
 87555,
 87746,
 87974,
 88283,
 88677,
 88693,
 88733,
 88937,
 89602,
 91203,
 91342,
 91832,
 91931,
 92547,
 92652,
 92810,
 92979,
 93047,
 93085,
 93363,
 93629,
 94242,
 94347,
 94853,
 94923,
 95193,
 95316,
 95359,
 95903,
 95932,
 95991,
 96054,
 96448,
 97874,
 98391,
 98741,
 98758,
 100459,
 100644,
 100846,
 100906,
 101209,
 101851,
 101876,
 102275,
 102647,
 102702,
 102967,
 104399,
 104429,
 104636,
 104665,
 105374,
 105517,
 105979,
 106225,
 106816,
 107021,
 107301,
 107453,
 107784,
 107951,
 108005,
 108285,
 108352,
 109461,
 109574,
 109955,
 110029,
 110483,
 110912,
 110934,
 110973,
 111174,
 111947,
 112001,
 112026,
 112881,
 113270,
 113519,
 113817,
 113904,
 113983,
 114178,
 114368,
 114414,
 114444,
 114868,
 114988,
 115002,
 115003,
 115120,
 115490,
 116599,
 117251,
 117539,
 119575,
 120093,
 120548,
 122429,
 122793,
 122881,
 123790,
 123883,
 123981,
 124078,
 124079,
 124363,
 124487,
 124942,
 125039,
 125519,
 125692,
 125774,
 126492,
 126604,
 126736,
 127200,
 127233,
 127359,
 127429,
 127914,
 128696,
 128835,
 129008,
 129074,
 129358,
 129465,
 129716,
 129851,
 130474,
 130554,
 130571,
 131027,
 131046,
 131402,
 131837,
 131855,
 132083,
 133571,
 133689,
 133747,
 133868,
 135045,
 135149,
 135265,
 135458,
 135831,
 136010,
 136139,
 136205,
 136252,
 136382,
 137589,
 137688,
 138097,
 138441,
 138578,
 138844,
 139467,
 139742,
 140000,
 140036,
 140358,
 141493,
 141710,
 142093,
 142524,
 143175,
 143253,
 143415,
 143792,
 144531,
 144555,
 145449,
 145451,
 145619,
 145641,
 146113,
 146230,
 146348,
 147141,
 147451,
 147847,
 147965,
 148199,
 148258,
 148744,
 149069,
 149907,
 149908,
 149934,
 150124,
 150498,
 150968,
 150979,
 151790,
 151806,
 152186,
 152249,
 153563,
 153662,
 153718,
 154992,
 155014,
 155147,
 155219,
 155495,
 156150,
 156269,
 156467,
 157273,
 157811,
 158295,
 159033,
 159376,
 159858,
 160032,
 160819,
 161752,
 162052,
 162639,
 162738,
 163804,
 163973,
 164027,
 164323,
 164465,
 164533,
 164675,
 164828,
 165232,
 165308,
 165319,
 166123,
 166596,
 167349,
 167471,
 167800,
 168047,
 168064,
 168144,
 168245,
 169233,
 169663,
 169699,
 170229,
 170513,
 170518,
 170575,
 170634,
 170742,
 170947,
 171118,
 172030,
 172512,
 172742,
 173291,
 173415,
 173632,
 173684,
 173835,
 174216,
 174304,
 174791,
 175003,
 175886,
 177072,
 177090,
 177374,
 177432,
 177458,
 177690,
 178181,
 178199,
 178667,
 178950,
 179733,
 179744,
 179772,
 179978,
 180348,
 180586,
 180651,
 180917,
 180957,
 181176,
 181687,
 182085,
 182086,
 182987,
 182993,
 183196,
 183995,
 184299,
 185233,
 185384,
 186570,
 187145,
 187256,
 187517,
 188010,
 189334,
 189516,
 189835,
 189973,
 190459,
 190708,
 190807,
 190925,
 191187,
 192093,
 193499,
 193560,
 194600,
 194669,
 195694,
 196047,
 196077,
 196160,
 196457,
 196502,
 197364,
 197659,
 197775,
 198621,
 198699,
 198711,
 199416,
 199772,
 200226,
 200674,
 201017,
 201290,
 201447,
 201526,
 201674,
 201768,
 201783,
 203240,
 203799,
 203968,
 204167,
 204522,
 204591,
 204864,
 205473,
 205735,
 205980,
 206074,
 206534,
 206567,
 206979,
 207246,
 207349,
 207499,
 207782,
 208141,
 208147,
 208406,
 208410,
 208568,
 208671,
 208829,
 209373,
 209516,
 209756,
 209875,
 210035,
 210485,
 210792,
 210959,
 211426,
 211430,
 211847,
 211919,
 212645,
 212898,
 212923,
 212965,
 213150,
 213350,
 214272,
 214786,
 216012,
 216444,
 216466,
 216683,
 217106,
 217121,
 217375,
 217740,
 218552,
 218608,
 219546,
 220278,
 221445,
 222050,
 222204,
 222296,
 222941,
 223087,
 223154,
 224138,
 224349,
 224430,
 224435,
 224646,
 224764,
 225087,
 225199,
 225232,
 225763,
 225810,
 225986,
 225989,
 226545,
 226879,
 226965,
 227447,
 227520,
 227705,
 228681,
 228764,
 228998,
 229011,
 229313,
 229329,
 229551,
 229741,
 230249,
 230496,
 230522,
 230708,
 231210,
 231237,
 231827,
 231857,
 232131,
 232945,
 233911,
 233917,
 234359,
 234623,
 234721,
 234828,
 235105,
 235282,
 235392,
 235842,
 235935,
 236058,
 236172,
 236283,
 236340,
 236757,
 236948,
 236959,
 238120,
 238526,
 238541,
 238545,
 238557,
 238699,
 238781,
 238961,
 239584,
 239594,
 240144,
 240567,
 240568,
 241198,
 241548,
 241666,
 241980,
 242006,
 242083,
 242106,
 242299,
 242409,
 242646,
 242824,
 243077,
 244349,
 244688,
 244736,
 245371,
 245410,
 245645,
 245827,
 245963,
 246156,
 246311,
 246513,
 246655,
 246671,
 247429,
 247447,
 247752,
 248718,
 249111,
 249628,
 249862,
 249894,
 250184,
 250405,
 250764,
 250962,
 251394,
 251422,
 251613,
 251843,
 251844,
 252071,
 252222,
 252695,
 252820,
 252848,
 253556,
 253821,
 254206,
 254465,
 254899,
 254971,
 255092,
 255218,
 255489,
 256167,
 256402,
 256407,
 257028,
 257204,
 258152,
 258185,
 258534,
 258938,
 259260,
 259380,
 259629,
 260897,
 261105,
 261829,
 262399,
 262998,
 263163,
 263460,
 263877,
 264031,
 264082,
 264317,
 264321,
 264637,
 265115,
 265313,
 265595,
 265889,
 266056,
 266226,
 266753,
 266865,
 267635,
 268030,
 268032,
 268110,
 268330,
 268932,
 269566,
 269719,
 269890,
 270713,
 270820,
 271195,
 271284,
 271448,
 271705,
 273979,
 274004,
 274061,
 274301,
 274308,
 275970,
 277427,
 277639,
 278418]

In [29]:
filtered_ratings = ratings_with_names[ratings_with_names['User-ID'].isin(users_reviews_gt_200)]

In [30]:
filtered_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
15,77940,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
16,81977,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1030883,275970,1880837927,0,The Theology of the Hammer,Millard Fuller,1994,Smyth &amp; Helwys Publishing,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...
1030884,275970,188717897X,0,The Ordeal of Integration: Progress and Resent...,Orlando Patterson,1998,Civitas Book Publisher,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...
1030885,275970,1888889047,0,Pushcart's Complete Rotten Reviews &amp; Rejec...,Bill Henderson,1998,Pushcart Press,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...
1030886,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...
1030887,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...

In [31]:
# for books
y = filtered_ratings.groupby('Book-Title').count()['Book-Rating'] > 50
famous_books = y[y].index

In [32]:
famous_books

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=679)

In [33]:
final_ratings = filtered_ratings[filtered_ratings['Book-Title'].isin(famous_books)]

In [34]:
pt = final_ratings.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating')

In [35]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,0.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,9.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN

In [36]:
pt.fillna(0, inplace=True)

In [37]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [38]:
from sklearn.metrics.pairwise import cosine_similarity

In [39]:
similarity_score = cosine_similarity(pt)

In [40]:
similarity_score[0].shape

(679,)

In [41]:
similarity_score.shape

(679, 679)

In [72]:
def recommend(bookname):
    # fetch book index
    index = np.where(pt.index == bookname)[0][0]
    similiar_items = sorted(list(enumerate(similarity_score[index])), key= lambda x: x[1], reverse=True)[1:8]
    
    data = []
    for i in similiar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    return data

In [73]:
pt.index[0]

'1984'

In [75]:
recommend('1984')

[['Animal Farm',
  'George Orwell',
  'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'],
 ["The Handmaid's Tale",
  'Margaret Atwood',
  'http://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'],
 ['The Vampire Lestat (Vampire Chronicles, Book II)',
  'ANNE RICE',
  'http://images.amazon.com/images/P/0345313860.01.MZZZZZZZ.jpg'],
 ['The Hours : A Novel',
  'Michael Cunningham',
  'http://images.amazon.com/images/P/0312243022.01.MZZZZZZZ.jpg'],
 ['Fahrenheit 451',
  'Ray Bradbury',
  'http://images.amazon.com/images/P/3257208626.01.MZZZZZZZ.jpg'],
 ['The Catcher in the Rye',
  'J.D. Salinger',
  'http://images.amazon.com/images/P/0316769487.01.MZZZZZZZ.jpg']]

In [ ]:
filtered_ratings.iloc[0,:]

In [76]:
pickle.dump(pt, open('pt.pkl', 'wb'))
pickle.dump(books, open('books.pkl', 'wb'))
pickle.dump(similarity_score, open('similarity_score.pkl', 'wb'))